/*  add flex, text alignment  */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');

/*  font-family: 'Bangers', cursive;
    font-family: 'Roboto', sans-serif;  */ 

* {                                     
    box-sizing: border-box;
  }

.container  {                       /*  styling general content  */
    max-width: calc(30vh / 0.53);
    margin: 0 20px;
    border: 15px solid #000;
}

.placeholder    {
    display: flex;    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1  {
    margin: calc(15%) 0;
    font-family: 'Bangers', cursive;
    font-size: 3.75em;
    text-align: center;
}

p, h2, h3, ul, button, form   {
    font-family: 'Roboto', sans-serif;
}

h2  {
    padding: 4px 0;
    margin: 0;
    font-size: 1.25em;
}

h3  {
    font-size: 1.07em;
}

p, ul   {
    font-size: 1em;
}

.header {
    background-color: #ffe680;
    background-image: url('img/batman-villains-quiz.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(30vh / 0.52) 30vh;  /*  need to keep the image ratio (width / height) */
    height: 30vh;
}

.score-bar {                            /*  styling form  */
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
}

.quiz-questions {
    background-color: #A80000;
    color: #fff;
    padding: 20px 30px;
}

.correct-answer {
    color: rgb(207, 194, 7);
    font-weight: bolder;
}

.align-right    {
    text-align: right;
}

.hidden {
    visibility: hidden;
}

.start-menu  {
    margin: 30px auto;
    font-size: 3.125em;
    text-align: center;
}

fieldset  {
    border: 0;
    padding: 0;
    margin-bottom: 2em;
}

.btn    {
    display: block;
    margin: 30px auto;
    font-size: 1.25em;
    background-color: orange;
    border: 4px solid #000;
    border-radius: 6px;
    padding: 5px;
    min-width: 100px;
}

.comment-section    {
    display: none;
}